<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content-wrapper">
      <div class="footer-links-wrapper">
        <a class="footer-logo" href="index.html" aria-label="logo coffee joy">
          <img src="/img/logo.svg" alt="footer-logo" />
        </a>
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.facebook.com/"
              target="_blank"
              aria-label="Facebook"
            >
              <svg class="footer-socials-icon" width="24" height="27">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              aria-label="Instagram"
            >
              <svg class="footer-socials-icon" width="24" height="25">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://x.com/?lang=uk"
              target="_blank"
              aria-label="X.com"
            >
              <svg class="footer-socials-icon" width="24" height="23">
                <use href="/img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#hero">About us</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#quality">Benefits</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#experience">Gallery</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#testimonials">Testimonial</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#location">Location</a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="footer-copyright">&copy; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
