<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="/index.html" class="header-logo" target="_blank">
        <img class="header-logo-svg" src="/img/logo.svg" alt="coffee joy">
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#" class="header-nav-link" target="_blank">About us</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#" class="header-nav-link" target="_blank">Benefits</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#" class="header-nav-link" target="_blank">Gallery</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#" class="header-nav-link" target="_blank">Testimonial</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#" class="header-nav-link" target="_blank">Location</a>
        </li>
      </ul>
    </nav>

    <button class="burger-btn" type="button" data-modal-open>
      <svg class="burger-svg" width="24" height="24">
        <use href="/img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>