<section id="location" class="location">
  <div class="container location-container">
    <div class="location-wrapper">
      <p class="location-title-text">Find</p>
      <h2 class="location-title">Location</h2>
      <p class="location-description">Visit us at our cozy coffee shop!</p>
      <ul class="location-contacts-list">
        <li class="location-contacts-item">
          <svg class="location-item-icon" width="32" height="32">
            <use href="../img/icons.svg#icon-location-envelope"></use>
          </svg>
          <h4 class="location-contacts-title">Email</h4>
          <a href="mailto:hello@coffeejoy.com" class="location-contacts-link">hello@coffeejoy.com</a>
        </li>
        <li class="location-contacts-item">
          <svg class="location-item-icon" width="32" height="32">
            <use href="../img/icons.svg#icon-location-phone"></use>
          </svg>
          <h4 class="location-contacts-title">Phone</h4>
          <a href="tel:+1 (555) 123-5321" class="location-contacts-link">+1 (555) 123-5321</a>
        </li>
        <li class="location-contacts-item">
          <svg class="location-item-icon" width="32" height="32">
            <use href="../img/icons.svg#icon-location-map"></use>
          </svg>
          <h4 class="location-contacts-title">Office</h4>
          <p class="location-address-text">263 Newbury St, Boston, MA 02116, USA</p>
          <a href="https://maps.app.goo.gl/T2CJoAhS5mHXiKmU9" class="location-address-link">
            <button class="location-address-button">
              Get Directions
              <svg class="location-address-btn-chevron" width="24" height="24">
                <use href="../img/icons.svg#icon-chevron-right"></use>
              </svg>
            </button>
          </a>
        </li>
      </ul>
    </div>
    <div class="location-map-continer">
      <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11794.676535195209!2d-71.09364487029133!3d42.349577041017476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2zMjYzIE5ld2J1cnkgU3QsIEJvc3RvbiwgTUEgMDIxMTYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sat!4v1756723959132!5m2!1suk!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>