<section class="quality">
  <div class="container">
  <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
  <p class="quality-subtitle">
    At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee,
    crafted with care by our skilled baristas. Our flexible subscription plans
    ensure that your coffee experience is tailored to your needs.
  </p>

  <ul class="quality-list">
    <li class="quality-item">
      <div class="img-wrapper">
        <picture>
          <source media="(min-width: 1158px)" srcset="/src/img/quality/Roaster1x.webp 1x, /img/quality/Roaster2x.webp 2x">
          <source media="(min-width: 768px)" srcset="/src/img/quality/Roaster-tablet1x.webp 1x, /img/quality/Roaster-tablet2x.webp 2x">
          <source media="(max-width: 767px)" srcset="/src/img/quality/Roaster-mobile1x.webp 1x, /img/quality/Roaster-mobile2x.webp 2x">
          <img src="/src/img/quality/Roaster1x.webp" alt="Roasted">
        </picture>
      </div>
      <div class="text-wrapper">
        <h3>Fresh-Roasted Coffee for Every Taste</h3>
        <p>Savor the rich flavors of our expertly sourced beans.</p>
      </div>
    </li>

    <li class="quality-item">
      <div class="img-wrapper">
        <picture>
          <source media="(min-width: 1158px)" srcset="/img/quality/Barista1x.webp 1x, /img/quality/Barista2x.webp 2x">
          <source media="(min-width: 768px)" srcset="/img/quality/Barista-tablet1x.webp 1x, /img/quality/Barista-tablet2x.webp 2x">
          <source media="(max-width: 767px)" srcset="/img/quality/Barista-mobile1x.webp 1x, /img/quality/Barista-mobile2x.webp 2x">
          <img src="/src/img/quality/Barista1x.webp" alt="Baristas">
        </picture>
      </div>
      <div class="text-wrapper">
        <h3>Expert Baristas Crafting Your Perfect Brew</h3>
        <p>Our baristas are passionate about coffee and skilled in their craft.</p>
      </div>
    </li>

    <li class="quality-item">
      <div class="img-wrapper">
        <picture>
          <source media="(min-width: 1158px)" srcset="/img/quality/Atmosphere1x.webp 1x, /img/quality/Atmosphere2x.webp 2x">
          <source media="(min-width: 768px)" srcset="/img/quality/Atmosphere-tablet1x.webp 1x, /img/quality/Atmosphere-tablet2x.webp 2x">
          <source media="(max-width: 767px)" srcset="/img/quality/Atmosphere-mobile1x.webp 1x, /img/quality/Atmosphere-mobile2x.webp 2x">
          <img src="/img/quality/Atmosphere1x.webp" alt="Cozy atmosphere">
        </picture>
      </div>
      <div class="text-wrapper">
        <h3>Cozy Atmosphere</h3>
        <p>We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
      </div>
    </li>
  </ul>
  </div>
</section>
