<section id="subscribe" class="subscribe">
  <div class="container subscribe-container">
    <h2 class="visually-hidden">subscribe</h2>
    <div class="subscribe-box">
      <h3 class="subscribe-title">Join Our Coffee Community</h3>
      <p class="subscribe-text">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
      <form class="subscribe-form" name="subscribe">
        <label class="subscribe-label" for="email-subscribe">
          <input
            class="subscribe-input"
            type="email"
            name="email"
            id="email-subscribe"
            placeholder="Your Email Here"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <p class="text-valid">Succes!</p>
          <p class="text-invalid">Invalid email, try again</p>
        </label>
        <button class="subscribe-btn" type="submit" data-modal-open>
          Subscribe
          <svg class="subscribe-btn-icon" width="13" height="12" fill="#ffffff">
            <use href="/img/icons.svg#icon-sub"></use>
          </svg>
        </button>
      </form>
      <p class="subscribe-text-agree">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/subscribe/01-desk-join-our-coffee-community.jpg    1x,
          /img/subscribe/01-desk-join-our-coffee-community@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/subscribe/01-tablet-join-our-coffee-community.jpg    1x,
          /img/subscribe/01-tablet-join-our-coffee-community@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/subscribe/01-mob-join-our-coffee-community.jpg    1x,
          /img/subscribe/01-mob-join-our-coffee-community@2x.jpg 2x
        "
      />
      <img
        class="subscribe-img"
        src="/img/subscribe/01-desk-join-our-coffee-community.jpg"
        alt="Two people work on computers at the table"
        width="640"
      />
    </picture>
  </div>
</section>
