<section class="testimonials">
  <div class="container testimonials-container">
    <h2 class="testimonials-title">What our visitors say</h2>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="testimonials-starbox">
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg
            class="testimonials-svg"
            width="20"
            height="20"
            fill="none"
            stroke="#0b0803"
          >
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>

        <p class="testimonials-text">
          "Every cup feels like a warm hug! I’m addicted to their seasonal
          flavors!"
        </p>
        <p class="testimonials-username">Name Surname</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-starbox">
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg
            class="testimonials-svg"
            width="20"
            height="20"
            fill="none"
            stroke="#0b0803"
          >
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="testimonials-text">
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance
          is so inviting, and the baristas are always friendly."
        </p>
        <p class="testimonials-username">Alice Johnson</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-starbox">
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
        </div>
        <p class="testimonials-text">
          "I love the variety of blends offered at CoffeeJoy. Every visit feels
          like a new experience!"
        </p>
        <p class="testimonials-username">Michael Smith</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-starbox">
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg
            class="testimonials-svg"
            width="20"
            height="20"
            fill="none"
            stroke="#0b0803"
          >
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg
            class="testimonials-svg"
            width="20"
            height="20"
            fill="none"
            stroke="#0b0803"
          >
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="testimonials-text">
          "The pastries are to die for! I can’t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <p class="testimonials-username">Emily Davis</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-starbox">
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
        </div>
        <p class="testimonials-text">
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
          here every weekend!"
        </p>
        <p class="testimonials-username">James Brown</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-starbox">
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg
            class="testimonials-svg"
            width="20"
            height="20"
            fill="none"
            stroke="#0b0803"
          >
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg
            class="testimonials-svg"
            width="20"
            height="20"
            fill="none"
            stroke="#0b0803"
          >
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="testimonials-text">
          "The atmosphere is perfect for working or relaxing with friends. Their
          Wi-Fi is fast too!"
        </p>
        <p class="testimonials-username">Sarah Wilson</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-starbox">
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg
            class="testimonials-svg"
            width="20"
            height="20"
            fill="none"
            stroke="#0b0803"
          >
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="testimonials-text">
          "I’m addicted to their seasonal flavors! Each one is crafted with such
          care and creativity."
        </p>
        <p class="testimonials-username">Chris Lee</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-starbox">
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="testimonials-svg" width="20" height="20" fill="#0b0803">
            <use href="../img/icons.svg#icon-star-full"></use>
          </svg>
          <svg
            class="testimonials-svg"
            width="20"
            height="20"
            fill="none"
            stroke="#0b0803"
          >
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="testimonials-text">
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <p class="testimonials-username">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>
