<section class="Welcome-section">
    <div class="container welcome-container">
        <div class="text-container">
            <div class="text-inner">
                <div class="headings">
                    <h1 class="headline-welcome">Welcome</h1>
                    <h2 class="title-welcome">Our Journey: Passion for Quality Coffee</h2>
                </div>
                <div class="content">
                    <p class="welcome-p">At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the finest coffee experiences, crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them to perfection, ensuring each sip is a delight.</p>
                    <a href="#location" class="location-btn">
                        <span class="text-button">Find location</span>
                        <svg class="icon-location" width="24" height="24" fill="#ffffff">
                            <use href="/img/icons.svg#icon-pin"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="img-welcome">
            <picture>
                <source
                media="(min-width: 1440px)"
                srcset="
                    /img/welcome/welcome.webp 1x,
                    /img/welcome/welcome@2x.webp 2x
                "
                >
                <source
                media="(min-width: 768px)"
                srcset="
                    /img/welcome/tablet-welcome.webp 1x,
                    /img/welcome/tablet-welcome@2x.webp 2x
                "
                >
                <source
                media="(max-width: 767px)"
                srcset="
                    /img/welcome/mobile-welcome.webp 1x,
                    /img/welcome/mobile-welcome@2x.webp 2x
                "
                >
                <img
                src="/img/welcome/welcome.webp"
                alt="The process of making coffee"
                >
            </picture>
        </div>
    </div>
</section>