<section class="Welcome">
    <div class="container welcome-container">
        <div class="text-container">
            <div class="text-inner">
                <div class="headdings">
                    <h1 class="headline-welcome">Welcome</h1>
                    <h2 class="title-welcome">Our Journey: Passion for Quality Coffee</h2>
                </div>
                <div class="content">
                    <p class="welcome-p">At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the finest coffee experiences, crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them to perfection, ensuring each sip is a delight.</p>
                    <a href="#location" class="location-btn">
                        <span class="text-button">Find location</span>
                        <svg class="icon-location" width="24" height="24" fill="#ffffff">
                            <use href="../img/icons.svg#icon-pin"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="img-welcome">
            <picture>
                <!-- Десктоп ≥1440px -->
                <source
                media="(min-width: 1440px)"
                srcset="
                    ../img/welcome/welcome.jpg 1x,
                    ../img/welcome/welcome@2x.jpg 2x
                "
                type="image/jpeg"
                >

                <!-- Планшет ≥768px -->
                <source
                media="(min-width: 768px)"
                srcset="
                    ../img/welcome/tablet-welcome.jpg 1x,
                    ../img/welcome/tablet-welcome@2x.jpg 2x
                "
                type="image/jpeg"
                >

                <!-- Мобильные <768px -->
                <source
                media="(max-width: 767px)"
                srcset="
                    ../img/welcome/mobile-welcome.jpg 1x,
                    ../img/welcome/mobile-welcome@2x.jpg 2x
                "
                type="image/jpeg"
                >

                <!-- Fallback -->
                <img
                src="../img/welcome/welcome.jpg"
                alt="The process of making coffee"
                loading="lazy"
                >
            </picture>

        </div>
    </div>
</section>