.experience {
    padding: 64px 0;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0b0803;
    margin-bottom: 24px;
}

.experience-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0803;
    text-align: center;
    margin-bottom: 32px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: flex-start;
    align-content: space-between;
    margin: 0 auto;
}

.experience-item {
    flex-grow: 1;
}

.experience-image {
    display: block;
    border-radius: 32px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .experience-container {
        padding: 0 32px;
    }

    .experience-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 32px;
    }

    .experience-item {
        width: calc((100% - 32px)/2);
    }
}
    
@media screen and (min-width: 1440px) {
    .experience-container {
        padding: 0 64px;
    }

    .experience-title {
        font-size: 48px;
    }

    .experience-list {
        display: flex;
        flex-direction: column;
        column-gap: 32px;
        row-gap: 32px;
        flex-wrap: wrap;
        max-height: 948px;
        align-items: flex-start;
    }

    .experience-item {
        box-sizing: border-box;
        width: 416px;
        flex-grow: 0;
    }
}